# Ignore everything in the data directory
data/coco_1000/*
data/kics/original/*
data/kics/fid/*
data/kics/fid2/*
data/kics/img_received/*
data/kics/resized/*

# Except the result folder
!data/kics/result

# Ignore files in the result folder if needed
data/result/*.tmp  # Example: Ignore temporary files in result folder

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore model files
models/
*.pt
